{% extends "bootstrap/base.html" %}

{% block title %}Dominion Randomizer{% endblock %}

{% block content %}
<div class="container">
    <h1>Dominion Randomizer</h1>
</div>
{% if selected %}
<div class="container">
    <table class="table table-hover">
        <tr>
        <th>#</th>
        <th>名前</th>
        <th>読み</th>
        <th>コスト</th>
        <th>拡張</th>
        </tr>
        
        {% for card in randomizer %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{card.name_j}}</td>
            <td>{{card.kana}}</td>
            <td>{{card.cost}}</td>
            <td>{{card.extension}}</td> 
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
<div class="container">
    <div class="form-check">
        <form action="/" method="POST">
        <h2>拡張パック選択</h2>
        <div class="row">
            {% for extension in extensions %}
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                {% set is_check = {'check': False} %}
                {% for check in checked %}
                    {% if check == extension %}
                        {% if is_check.update({'check': True}) %}{% endif %}
                    {% else %}
                    {% endif %}
                {% endfor %}
                {% if is_check.check %}
                    <input class="form-check-input" type="checkbox" name="extensions" id="{{extension}}" value="{{extension}}" checked>
                {% else %}
                    <input class="form-check-input" type="checkbox" name="extensions" id="{{extension}}" value="{{extension}}">
                {% endif %}
                <label class="form-check-label" for="{{extension}}">{{extension|e}}</label>
                <br>
            </div>
            {% endfor %}
        </div>
            <div class="col-">
                <input class="btn btn-default" type="button" onclick="checkAll(true)" value="全てチェック">
                <input class="btn btn-default" type="button" onclick="checkAll(false)" value="全てチェックを外す">
                <br>
                <script>
                    function checkAll(chk){
                        var boxes = document.getElementsByName("extensions");
                        var cnt = boxes.length;
                        for (var i = 0; i < cnt; i++){
                            boxes.item(i).checked = chk;
                        }
                    }
                </script>
            </div>
        <h2>オプション</h2>
        {% for option in options %}
            <div class="col-">
                <input class="form-check-input" type="checkbox" name="options" id="{{option.tag}}" value="{{option.tag}}">
                <label class="form-check-label" for="{{option.tag}}">{{option.text|e}}</label>
                <br>
            </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="ランダマイズ">
        </form>
    </div>
</div>
{% if error %}
<div class="container">
    <h2>{{error}}</h2>
</div>
{% endif %}
{% endblock %}