{% extends "bootstrap/base.html" %}

{% block content %}
<h1>Dominion Randomizer</h1>
<div class="container">
    <div class="form-check">
        <form action="/" method="POST">
        {% for extension in extensions %}
            <div class="col-">
                <input class="form-check-input" type="checkbox" name="extensions" id="{{extension}}" value="{{extension}}" checked>
                <label class="form-check-label" for="{{extension}}">{{extension}}</label>
                <br>
            </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="ランダマイズ">
        </form>
    </div>
</div>
{% if selected %}
<div class="container">
    {% for card in randomizer %}
    <div class="col-">{{card}}</div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}